{% extends 'base.html.twig' %}

{% block header %}
<div class="headerHome">
    <div class="title">
        <h1 class="white-text">Bienvenue sur <span class="red-text">Fly</span><span class="white-text lighten-1">Around</span></h1>
    </div>
</div>
{% endblock %}

